jams++
tmtags
tmtagsHistory
*.un~
*.out
*.err
*.dat
*.cfg
*.o
*.swp
*.bak
*.job
*.log
*.gpl
*.xyz
cerr
cout
.DS_Store
/jams.sublime-workspace
.clang_complete
.tags
.tags1
.idea

/build
/cmake-build*
/.clion.source.upload.marker
/examples
/topological_charge
*.h5
*.tsv
*.xdmf
